In [3]:
# Doctor By countries over time

In [5]:
# Install pandas if not already installed
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [89]:
#Basic description of dataset


import pandas as pd

# Load the dataset
dataset_file = "Doctors_by_countries.csv"
df = pd.read_csv(dataset_file)

In [91]:

# Get the dataset description for EDA
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Countries, territories and areas              3603 non-null   object
 1   Year                                          3603 non-null   int64
 2   Medical doctors (per 10 000 population)       2903 non-null   float64
 3   Medical doctors (number)                      3443 non-null   float64
 4   Generalist medical practitioners (number)     1333 non-null   float64
 5   Specialist medical practitioners (number)     1252 non-null   float64
 6   Medical doctors not further defined (number)  2781 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 197.2+ KB

In [93]:
df.head()

,"Countries, territories and areas",Year,Medical doctors (per 10 000 population),Medical doctors (number),Generalist medical practitioners (number),Specialist medical practitioners (number),Medical doctors not further defined (number)
0,Afghanistan,2020,2.535,9880.0,NaN,NaN,9880.0
1,Afghanistan,2019,2.140,8082.0,NaN,NaN,8082.0
2,Afghanistan,2018,3.038,11144.0,NaN,NaN,11144.0
3,Afghanistan,2017,2.453,8744.0,NaN,NaN,8744.0
4,Afghanistan,2016,2.842,9842.0,NaN,NaN,9842.0

In [95]:
df.describe(include="all")

,"Countries, territories and areas",Year,Medical doctors (per 10 000 population),Medical doctors (number),Generalist medical practitioners (number),Specialist medical practitioners (number),Medical doctors not further defined (number)
count,3603,3603.000000,2903.000000,3.443000e+03,1333.000000,1.252000e+03,2.781000e+03
unique,195,NaN,NaN,NaN,NaN,NaN,NaN
top,Spain,NaN,NaN,NaN,NaN,NaN,NaN
freq,69,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2001.320289,21.085519,6.138621e+04,17274.795949,3.487797e+04,5.310102e+04
std,NaN,14.844936,14.799767,2.046385e+05,25291.511495,6.491819e+04,2.212077e+05
min,NaN,1952.000000,0.125000,3.000000e+00,11.000000,1.000000e+00,0.000000e+00
25%,NaN,1993.000000,7.846000,3.348000e+03,1757.000000,3.639750e+03,1.319000e+03
50%,NaN,2005.000000,21.399000,1.460300e+04,6155.000000,1.230550e+04,8.669000e+03
75%,NaN,2013.000000,32.202000,4.318900e+04,20184.000000,3.345250e+04,2.718600e+04
max,NaN,2021.000000,84.273000,3.401672e+06,194265.000000,1.058559e+06,3.401672e+06

In [97]:
df_shape = df.shape
print(f"Dataset shape: {df_shape}")

Dataset shape: (3603, 7)

In [99]:
df_nulls = df.isnull().sum()
print(f"Displaying all sum of null values: ")
print(f"{df_nulls}")

Displaying all sum of null values:
Countries, territories and areas                   0
Year                                               0
Medical doctors (per 10 000 population)          700
Medical doctors (number)                         160
Generalist medical practitioners (number)       2270
Specialist medical practitioners (number)       2351
Medical doctors not further defined (number)     822
dtype: int64

In [101]:
df_dtypes = df.dtypes
print(f"Displaying the datatypes of each column: ")
print(f"{df_dtypes}")

Displaying the datatypes of each column:
Countries, territories and areas                 object
Year                                              int64
Medical doctors (per 10 000 population)         float64
Medical doctors (number)                        float64
Generalist medical practitioners (number)       float64
Specialist medical practitioners (number)       float64
Medical doctors not further defined (number)    float64
dtype: object

In [103]:

print(f"Displaying unique values of the datasets : ")
print(f"{df.nunique()}")

# df_info, df_shape, df_nulls, df_dtypes, df.nunique()

Displaying unique values of the datasets :
Countries, territories and areas                 195
Year                                              70
Medical doctors (per 10 000 population)         2791
Medical doctors (number)                        3201
Generalist medical practitioners (number)       1269
Specialist medical practitioners (number)       1212
Medical doctors not further defined (number)    2514
dtype: int64

In [113]:
# Understanding the relationship between the Medical doctors(number), Generalist medical practitioners (number),
# Specialist medical practitioners (number), and Medical doctors not further defined (number)  

nan_records = df[df["Medical doctors not further defined (number)"].isna()]

# Show the result
print("\nRecords where 'Medical doctors not further defined (number)' is NaN:")
print(nan_records)

Records where 'Medical doctors not further defined (number)' is NaN:
     Countries, territories and areas  Year  \
16                            Albania  2020
17                            Albania  2019
20                            Albania  2013
21                            Albania  2012
22                            Albania  2011
...                               ...   ...
3527                       Uzbekistan  2010
3528                       Uzbekistan  2009
3529                       Uzbekistan  2008
3549                          Vanuatu  2019
3591                         Zimbabwe  2014

      Medical doctors (per 10 000 population)  Medical doctors (number)  \
16                                     18.826                    5397.0
17                                     16.511                    4745.0
20                                     12.847                    3709.0
21                                     12.779                    3696.0
22                                     12.335                    3578.0
...                                       ...                       ...
3527                                   25.345                   72522.0
3528                                   25.612                   72144.0
3529                                   25.954                   71962.0
3549                                    1.577                      48.0
3591                                    1.216                    1685.0

      Generalist medical practitioners (number)  \
16                                       2081.0
17                                       2016.0
20                                       1622.0
21                                       1603.0
22                                       1540.0
...                                         ...
3527                                    12114.0
3528                                    11629.0
3529                                    10965.0
3549                                       48.0
3591                                     1458.0

      Specialist medical practitioners (number)  \
16                                       3316.0
17                                       2729.0
20                                       2087.0
21                                       2093.0
22                                       2038.0
...                                         ...
3527                                    60408.0
3528                                    60515.0
3529                                    60997.0
3549                                        NaN
3591                                      227.0

      Medical doctors not further defined (number)
16                                             NaN
17                                             NaN
20                                             NaN
21                                             NaN
22                                             NaN
...                                            ...
3527                                           NaN
3528                                           NaN
3529                                           NaN
3549                                           NaN
3591                                           NaN

[822 rows x 7 columns]

In [121]:
# Replacing Missing values

df["Generalist medical practitioners (number)"] = df["Generalist medical practitioners (number)"].fillna(
    df["Medical doctors (number)"] -
    df["Specialist medical practitioners (number)"]fillna(0) -
    df["Medical doctors not further defined (number)"]fillna(0)